body
{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding-top: 0;
}

.logoname{
	/*background-color: red;*/
	color: white !important;
	font-family: 'Vesper Libre', serif;
	font-size: 3em;
	vertical-align: middle;
}

.minim{
color: white !important;
font-size: 0.5em;
font-family: Arial;
}

h1
{
	text-align:center;
	font-size: 3.5em;
	margin:0;
	color: #000000;
	
	-webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;*/
   -webkit-fill-color: #000000;
   /*text-shadow: 4px 0px 20px #666666;*/
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

h2
{
	margin:0;
	padding:0;
	color: #000000;
}

h3
{
	margin:0;
	padding:0;
	color: #000000;
}

.people
{
	float: left;
	/*width: 25%;*/
	display: inline;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 2%;
	margin-bottom: 5%;*/
	padding-top:2%;
}

/*.students .people
{
	position: relative;
	width:100%;
	float: left;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	max-width: 25%;
}*/

.people p
{
	word-wrap: break-word;
	cursor: pointer;
	word-break: keep-all;
	text-align: justify;
    /*text-justify: inter-word;*/
}

.people img
{
	/*border-radius:50% 50% 50% 50%;*/
	-webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(1); /*Mozilla scale version*/
	-o-transform:scale(1); /*Opera scale version*/
	-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
	-moz-transition-duration: 0.5s; /*Mozilla duration version*/
	-o-transition-duration: 0.5s; /*Opera duration version*/
	opacity: 0.9; /*initial opacity of images*/
	/*margin: 0 10px 5px 0; /*margin between images*/
}

.people img:hover
{
	-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform:scale(1.1); /*Mozilla scale version*/
	-o-transform:scale(1.1); /*Opera scale version*/
	/*box-shadow:0px 0px 30px red; /*CSS3 shadow: 30px blurred shadow all around image*/
	/*-webkit-box-shadow:0px 0px 15px red; /*Safari shadow version*/
	/*-moz-box-shadow:0px 0px 15px red; /*Mozilla shadow version*/
	/*opacity: 1;*/
}

.headerul
{
	padding-right: 2%;
}

#home
{
	margin-top: 35px;
	width: 100%;
}


#about
{
	padding-top: 5%;
	/*background-color: rgb(0,185,245);*/
}

#team
{
	padding-top: 5%;
	/*background-color: #593C1F;*/
	padding-bottom: 5%;
}

.heading
{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 5em;
}

.coloring
{
	background-color: rgb(204,204,204);
	/*color: white;*/
	padding: 0.5%;
	margin: 0;
	text-decoration: underline;
}

.avmt{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 3em;
	text-align: center;
}

.avmp{
	width: 80%;
	margin-left: 10%;
}

.abtus{
	text-align: justify;
	width: 80%;
	margin-left: 10%;
	font-size: 1.75em;
	font-family: 'Cutive', serif;
}

.name{
	font-family: 'Special Elite', cursive;
}

.avm{
	width:75%;
	margin-left: 12.5%;
	display: flex;
	position: inline-block;
}

.chap{
	width: 80%;
	margin-left: 12.5%;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


.aim{
	font-size: 1.5em;
	font-family: 'Libre Baskerville', serif;
	word-wrap: break-word;
	text-align: justify;
}

.vim{
	font-size: 1.5em;
	font-family: 'Ubuntu', sans-serif;
	word-wrap: break-word;
	text-align: justify;
	color: white;	
}

.b1{
	background-color: #FF9933;
}

.b2{
	background-color: #000080;
}

.b3{
	background-color: #138808;
}

.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.ci{
	height: 90%;
	width: 90%;
	cursor: pointer;
}

.thead-inverse{
	color: white;
	background-color: #787878;
}

.avmtext {
	font-size: 2em;
	font-family: 'Arvo', serif;
}

.extra{
	display: inline-block;
}

.set{
	height: 10%;
}

.aimi{
	margin-top: 20%
}

.vimi{
	margin-top: 15%;
}

.misi{
	margin-top: 20%;
}